footer {
  .footer-container {
    width: 100%;
    .footer-info-container {
      position: relative;
      padding-top: 60px;
      padding-bottom: 60px;
      padding-left: 15em;
      padding-right: 15em;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      background-color: #f8f8ff;
    }
    .footer-info-col:first-child {
      width: 35%;
    }

    .footer-info-col:last-child {
      width: 50%;
    }
    img {
      width: 50%;
    }
    .footer-info-social-media {
        font-size: 20px;
        margin-top: 40px;
        svg:not(:last-child){
            margin-right: 10px;
        }
    }
    .footer-links-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      width: 100%;
    }

    .footer-copyright {
      text-align: center;
      padding: 10px;
    }
  }
}
