.searchbar {
  &-container {
    text-align: center;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    margin-top: 50px;
  }

  &-input {
      width: 30%;
      margin: 0 auto;
    input {
      width: 100%;
      border: 0;
      border-bottom: 2px solid #505050;
      outline: 0;
      font-size: 1.3rem;
      color: #505050;
      padding: 10px 0;
      background: transparent;
      transition: border-color 0.2s;

      &::placeholder {
        color: transparent;
      }

      &:placeholder-shown ~ label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
      }
    }

    label {
      position: absolute;
      top: -2px;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: #505050;
    }

    input:focus {
      ~ label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: #a12921;
        font-weight: 400;
      }
      padding: 20px 0;
      padding-bottom: 6px;
      font-weight: 400;
      border-width: 2px;
      border-color: #a12921;
      border-image-slice: 1;
    }
  }
}
